*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  height: 100%;
  max-width: 100%;
}

body {
  border: 2px dotted green;
  background-color: #eee;
  position: relative;
}

main {
  border: 2px dashed navy;
  width: 400px;
  height: 500px;
  max-height: 100%;
  max-width: 100%;
  position: relative;
}

.draggable {
  position: absolute;
  border: thin solid navy;
}

div {
  background-color: rgba(0, 0, 128, 0.37);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
div.move {
  cursor: grabbing;
  user-select: none;
  -webkit-user-select: none;
}

body > div.draggable {
  width: 50px;
  height: 50px;
  border-radius: 0;
  border-color: green;
  background-color: rgba(5, 100, 100, 0.37);
}

.another-container div:first-child {
  height: 25px;
  border-radius: 25px;
  border-color: gold;
  background-color: rgba(255, 215, 0, 0.37);
}
.another-container {
  border: 3px solid gold;
  position: absolute;
  width: 260px;
  height: 356px;
  max-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
footer {
  position: absolute;
  bottom: 0;
  padding: 12px;
  background-color: rgba(205, 205, 205, 0.15);
  user-select: none;
  width: 100%;
  text-align: center;
}
