:root {
  --header-height: 55px;
  --aside-width: 200px;
}

html {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #23282c;
  text-align: left;
  background-color: #eee;
  display: flex;
  flex-direction: column;
}
div.app-stage {
  margin-top: var(--header-height);
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden;
}
.app-body {
  margin-left: var(--aside-width);
  display: flex;
  flex-direction: column;
  width: 100%;
}

header.app-header,
footer.app-footer,
aside.sidebar,
main {
  transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
}
main {
  flex: 1;
  min-width: 0;
}
header.app-header {
  position: fixed;
  width: 100%;
  display: flex;
  flex: 0 0 var(--header-height);
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  z-index: 1020;
}
aside.sidebar {
  height: calc(100vh - var(--header-height));
  position: fixed;
  z-index: 1019;
  width: var(--aside-width);
  flex: 0 0 var(--aside-width);
  order: -1;
  display: flex;
  flex-direction: column;
  color: #fff;
  background: #2f353a;
}
footer.app-footer {
  display: flex;
  flex: 0 0 50px;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  color: #23282c;
  background: #fafafa;
  border-top: 1px solid #ccc;
}
.move {
  cursor: grabbing;
  user-select: none;
  -webkit-user-select: none;
}
.log {
  display: flex;
}
main .log > p {
  font-family: monospace;
  white-space: pre;
  margin: 12px;
  padding: 12px;
  border-left: thin solid #eee;
}
main .modal-dialog {
  min-width: 100%;
  margin-left: var(--aside-width);
  margin-top: var(--header-height);
}

.modal-content {
  max-width: var(--bs-modal-width);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}
.modal-content:has(.modal-header.move) {
  opacity: 0.5;
}
